.content
{
  border-radius: 5px;
  background-color: grey;
  margin: 5px;
  padding: 10px;
  color: white;
  height: 300px;
}

.flexColumn
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  .flexRow
  {
    display: flex;
    justify-content: center;
  }
}
