.content
{
  border-radius: 5px;
  background-color: grey;
  margin: 5px;
  padding: 10px;
  color: white;
  height: 447px;
}

.wrapper
{
  position:absolute;
  border-radius: 5px;
  background-color: grey;
  margin: 5px;
  padding: 10px;
  color: white;
}

.logout
{
  position:absolute;
  background-color: grey;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  right: 8px;
  z-index: 0;
  color:white;
  text-decoration: underline;
  cursor:pointer;
}

.flexColumn
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  .flexRow
  {
    display: flex;
    justify-content: center;
  }
}
